[data-page="a-propos"] {
    & .section {
        padding: 50px;
        width: 100%;
        /* transform: translateX(0);
        opacity: 1; */

        & > div {
            transition: all 1000ms;
        }

        &.anime > div {
            transform: translateX(-100%) scale(1.05);
            opacity: 0;
        }

        &.droite {
            text-align: right;
        }

        & h2 {
            font-size: 2rem;
            font-weight: 800;
            color: var(--color-accent);
        }
        & p {
            font-size: 1.5rem;
            text-transform: initial;
            font-weight: 600;
            color: var(--color-dark);
        }
    }
}
