html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

body {
    font-family: var(--font-family-primary);
    color: var(--color-primary);
}

/* ENTETE */
header {
    padding: 2rem;
    background-color: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav {
    display: flex;
    gap: 3rem;
}

nav .logo {
    max-width: 100px;
    max-height: 100px;
}

nav .nav__liste {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav li a {
    font-size: 1.5rem;
}

main {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
