:root {
    --color-primary: #4d5b5d;
    --color-accent: #d7be78;

    --color-light: #f4f4f4;
    --color-dark: #333333;

    --color-link: #00aaff;
    --color-nav-link: tomato;
    --color-nav-link--hover: color-mix(in oklab, tomato, black 10%);

    --color-success: #76a728;
    --color-info: #17b8b5;
    --color-warning: #ffd207;
    --color-danger: #dc4635;
}
